* {
    padding: 0px;
    margin: 0px;
}

.main {
    background-color: #180052;
    height: 100vh;
    width: 100vw;
    color: #ebe0e0;
}



.container1 {
    height: 250px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.images {
    margin-left: 65px;
    margin-top: 10px;
    height: 1%;
    width: 100%;
}

.imagesmini {
    margin-left: 30px;
    margin-top: 10px;
    height: 1%;
    width: 100%;
}

.text {
    margin-top: 60px ;
    margin-left: 10px ;
    position: fixed;
}

.box1 {
    height: 90px;
    width: 180px;
    background-color: #009dae;
    margin-bottom: 5px;
}


.box2 {
    height: 90px;
    width: 180px;
    background-color: #623dbc;
    margin-left: 5px;
    margin-bottom: 5px;
}
.box3 {
    height: 90px;
    width: 87.5px;
    background-color: #2d8aef;
    margin-left: 5px;
    margin-bottom: 5px;
}

.box4 {
    height: 90px;
    width: 87.5px;
    background-color: #008e00;
    margin-left: 5px;
    margin-bottom: 5px;
}

.box5 {
    height: 90px;
    width: 180px;
    background-color: #6d6139;
    margin-left: 25px;
    margin-bottom: 5px;
}


.container2 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.box6 {
    height: 90px;
    width: 180px;
    background-color: #db562e;
    margin-bottom: 5px;
}

.box7 {
    height: 90px;
    width: 180px;
    background-color: #00889e;
    margin-left: 5px;
    margin-bottom: 5px;
}
.box8 {
    height: 90px;
    width: 87.5px;
    background-color: #a000a8;
    margin-left: 5px;
    margin-bottom: 5px;
}

.box9 {
    height: 90px;
    width: 87.5px;
    background-color: #0a58c1;
    margin-left: 5px;
    margin-bottom: 5px;
}

.box10 {
    height: 90px;
    width: 180px;
    background-color: #009bad;
    margin-left: 25px;
    margin-bottom: 5px;
}

.container3 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.box11 {
    height: 90px;
    width: 180px;
    background-color: #a300aa;
    margin-bottom: 5px;
}

.box12 {
    height: 90px;
    width: 180px;
    background-color: #00a400;
    margin-left: 5px;
}
.box13 {
    height: 90px;
    width: 180px;
    background-color: #613cbb;
    margin-left: 5px;
}

.box14 {
    height: 90px;
    width: 87.5px;
    background-color: #009e00;
    margin-left: 25px;
}

.box15 {
    height: 90px;
    width: 87.5px;
    background-color: #a200a9;
    margin-left: 5px;
}

.container4 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.box16 {
    height: 90px;
    width: 180px;
    background-color: #4b97d9;
}

.box17 {
    height: 90px;
    width: 180px;
    background-color: #2d88ef;
    margin-left: 5px;
}
.box18 {
    height: 90px;
    width: 180px;
    background-color: #be1e4a;
    margin-left: 5px;
}

.box19 {
    height: 90px;
    width: 87.5px;
    background-color: #db552d;
    margin-left: 25px;
}

.box20 {
    height: 90px;
    width: 87.5px;
    background-color: #b91d47;
    margin-left: 5px;
}